.make-invoice-link {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--app-background-color);
}

.make-invoice-link__back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.make-invoice-link__amount,
.make-invoice-link__message,
.make-invoice-link__submit {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.make-invoice-link__amount {
  top: min(30vh, 253px);
}

.make-invoice-link__message {
  top: min(70vh, 591px);
  width: min(70vw, 420px);
}

.make-invoice-link__submit {
  top: min(90vh, 760px);
  width: var(--app-content-width);
}

.make-invoice-link__submit .navigation-button {
  width: 100%;
  height: 54px;
  padding: 0;
}

.make-invoice-link__submit .navigation-button:hover {
  transform: none;
}
